<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: " contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: "Entre em contato" }}</h2>
        <h3 class="section-subheading text-white">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
        <ul class="list-inline social-buttons mt-3">
          {% for social in site.data.sitetext[site.locale].contact.socials %}
          <li class="list-inline-item">
            <a href="{{ social.url }}" target="_blank">
              <i class="{{ social.icon }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="contact text-center mt-3">
          <div class="btn-group">
            <a class="btn btn-xl btn-primary btn-email"
              href="{{ site.data.sitetext[site.locale].contact.socials[0].url }}">
              contato@aptaempresarial.com.br</a>
            <button type="button" class="btn btn-xl btn-secondary btn-default btn-copy js-tooltip js-copy"
              data-toggle="tooltip" data-placement="bottom" data-copy="contato@aptaempresarial.com.br" title="Copiar">
              <i class="fas fa-copy"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function copyToClipboard(text, el) {
    var copyTest = document.queryCommandSupported('copy');
    var elOriginalText = el.attr('data-original-title');

    if (copyTest === true) {
      var copyTextArea = document.createElement('textarea');
      copyTextArea.value = text;
      document.body.appendChild(copyTextArea);
      copyTextArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'Copiado!' : 'Whoops, not copied!';
        el.attr('data-original-title', msg).tooltip('show');
      } catch (err) {
        console.log('Oops, unable to copy');
      }
      document.body.removeChild(copyTextArea);
      el.attr('data-original-title', elOriginalText);
    } else {
      // Fallback if browser doesn't support .execCommand('copy')
      window.prompt('Copy to clipboard: Ctrl+C or Command+C, Enter', text);
    }
  }

  $(document).ready(function() {
    $('.js-copy').click(function () {
      var text = $(this).attr('data-copy');
      var el = $(this);
      copyToClipboard(text, el);
    });
  });
</script>
<!-- End Contact -->