<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      {%- if site.logo -%}
      <img id="logo" height="{{ site.logo.height | default: 100 }}" src="{{ site.logo.path }}"/>
      {%- else -%}
      {{ site.title }}
      {%- endif -%}
    </a>
    <button class="navbar-toggler navbar-toggler-right mx-2" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" style="margin: 0 auto; flex-grow: 0 !important" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {%- for link in site.data.navigation[site.locale].nav -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
          {%- else if link.section -%}
          <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      {%- if site.data.sitetext[site.locale].header.title -%}
      <div class="intro-lead-in">{{ site.data.sitetext[site.locale].header.title | markdownify }}</div>
      {%- endif -%}
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto">
          <div class="intro-heading text-uppercase">{{ site.data.sitetext[site.locale].header.text | markdownify }}</div>
          {%- if site.data.sitetext[site.locale].header.button -%}
            <a class="btn btn-banner btn-xl text-uppercase js-scroll-trigger mr-3 mb-3"
            href="https://api.whatsapp.com/send?phone={{ site.data.sitetext[site.locale].header.whatsapp.tel }}&text={{ site.data.sitetext[site.locale].header.whatsapp.msg | cgi_escape}}/" target="_blank">
            {{ site.data.sitetext[site.locale].header.button }}</a>
          {%- endif -%}  
          {%- if site.data.sitetext[site.locale].header.call -%}
            <a class="btn btn-banner btn-xl text-uppercase js-scroll-trigger mb-3"
            href="#pricing" target="_blank">
            {{ site.data.sitetext[site.locale].header.call }}</a>
          {%- endif -%}
        </div>
        <div class="col-lg-6">
          <br>
          <video class="video-js vjs-apta mx-auto d-block" controls preload="auto" data-setup='{}'>
            <source src="{{ site.data.sitetext[site.locale].header.video }}" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  // window.onscroll = function () {
  //   var logo = document.getElementById("logo");
  //     if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
  //       logo.src = "{{ site.logo.alt }}";
  //     } else {
  //       logo.src = "{{ site.logo.path }}";
  //     }
  // };
</script>
<!-- End Header -->