<!-- Pricing -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].prices.section | default: " pricing " }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].prices.title | default:
                    "Planos" }}</h2>
                {% if site.data.sitetext[site.locale].prices.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].prices.text }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            {% for price in site.data.sitetext[site.locale].prices.list %}
            <div class="feature-card col mx-3 p-2 content-align-center border shadow">
                <img src="{{ price.icon }}" style="height: 2em" class="fa-size card-img-top mt-3">
                <div class="card-body">
                    <h5 class="card-title service-heading">
                        {{ price.title }}
                        {% if price.pro %}
                            <i class="{{ price.pro }}" style="color: gold;"></i>
                        {% endif %}
                    </h5>
                    {% if price.value %}
                    <span class="price">
                        {{ price.value }}
                        <small>/mês</small>
                    </span>
                    <p class="text-muted"><small>ou {{ price.annual }}/ano</small></p>
                    {% endif %}
                    <br>
                    <div>
                        <ul class="list-group list-group-flush">
                            {% for feature in price.features %}
                            <li class="list-group-item">{{ feature }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <br>
            {% for warning in site.data.sitetext[site.locale].prices.warnings %}
                <p class="h6 text-muted"><small>{{ warning.desc }}</small></p>
            {% endfor %}
            <br>
            <p class="h4 text-muted">
                {{ site.data.sitetext[site.locale].prices.rules.title }}
                <ul class="list-unstyled">
                    {% for rule in site.data.sitetext[site.locale].prices.rules.items %}
                        <li class="h7 text-muted">{{ rule }}</li>
                    {% endfor %}
                </ul>
                </p>
            <p class="text-muted">{{ site.data.sitetext[site.locale].prices.warning2 }}</p>
        </div>
    </div>
</section>
<!-- End Pricing -->