<!-- Services -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: " services " }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title | default:
                    "Serviços" }}</h2>
                {% if site.data.sitetext[site.locale].services.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services.text }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center text-center">
            {% for service in site.data.sitetext[site.locale].services.areas %}
            <div class="col-md-4 my-5">
                <span class="fa-stack fa-size">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ service.title | markdownify }}</h4>
                <!-- {% for item in service.services %}
                <p class="text-muted">{{ item.title | markdownify }}</p>
                {% endfor %} -->
                <a class="btn btn-primary btn-xl" href={{ service.link }}
                {% if service.download %}
                 download=""
                {% endif %}>{{ service.button }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Services -->