// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.fa-size {
  font-size: 5em;

  @media (max-width: 960px) {
    font-size: 3.5em;
  }
}

.fa-inverse {
  transition-property: font-size;
  transition-duration: 2s;
}

.fa-inverse:hover {
  font-size: 1.5em;
}
